@import '~bootstrap/scss/bootstrap';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
main {
    padding: 5rem 0;
    background-image: url('/resources/img/page_bg.jpg');
    background-size: cover;
    font-family: sans-serif;
}
footer{
    background-image: url('/resources/img/footer_bg.jpg');
}
.my-card{
    background-color: black;
    color: white;
    .description{
        padding: 0.5rem 0;
        height: 150px;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
