@import '~bootstrap/scss/bootstrap';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
main {
    padding: 5rem 0;
    background-image: url('/resources/img/page_bg.jpg');
    background-size: cover;
    font-family: sans-serif;
}
footer{
    background-image: url('/resources/img/footer_bg.jpg');
}
.my-card{
    background-color: black;
    color: white;
    .description{
        padding: 0.5rem 0;
        height: 150px;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
.my-form{
    background-color: black;
    color: white;
    margin: 50px 0;
    border-radius: 3rem;
    padding: 3rem 10rem;
    *{
        font-size: 1.2rem;
        width: 100%;
        margin-bottom: 5px;
    }
    .my-btn{
        background-color: $blue;
        padding: 0.5rem;
        margin-top: 1rem;
        color: $white;
        border: 0;
    }
}